@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
 @import url("fontawesome-all.min.css");
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tangerine:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Parallelism by Pixelarity pixelarity.com | hello@pixelarity.com License: pixelarity.com/license */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 5;
     border: 0;
     font-size: 100%;
     font: inherit;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Raleway', cursive;
     vertical-align: baseline;
}
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}
 body {
     line-height: 1;
     margin: 0;
     padding: 0;
     background: #232323;
     color: #cdcdcd;
     font-family: "Avenir Next", "Avenir", sans-serif;
}
 #menuToggle {
     display:block;
     position:sticky;
     top: 50px;
     left: 50px;
     margin-top: 15px;
     margin-left: 15px;
     z-index: 100;
     -webkit-user-select: none;
     user-select: none;
}
 #menuToggle a {
     text-decoration: none;
     color: #232323;
     transition: color 0.3s ease;
}
 #menuToggle a:hover {
     color: tomato;
}
 #menuToggle input {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     cursor: pointer;
     opacity: 0;
    /* hide this */
     z-index: 2;
    /* and place it over the hamburger */
     -webkit-touch-callout: none;
}
/* * Just a quick hamburger */
 #menuToggle span {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     background: #cdcdcd;
     border-radius: 3px;
     z-index: 1;
     transform-origin: 4px 0px;
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
 #menuToggle span:first-child {
     transform-origin: 0% 0%;
}
 #menuToggle span:nth-last-child(2) {
     transform-origin: 0% 100%;
}
/* * Transform all the slices of hamburger * into a crossmark. */
 #menuToggle input:checked ~ span {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #232323;
}
/* * But let's hide the middle one. */
 #menuToggle input:checked ~ span:nth-last-child(3) {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
}
/* * Ohyeah and the last one should go the other direction */
 #menuToggle input:checked ~ span:nth-last-child(2) {
     transform: rotate(-45deg) translate(0, -1px);
}
/* * Make this absolute positioned * at the top left of the screen */
 #menu {
     position: absolute;
     width: 300px;
     height: 100vh;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-left: 85px;
     padding-top: 125px;
     box-sizing: unset;
     background: #ededed;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
 .weddingHeader {
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Tangerine', cursive;
     font-size: 72px;
}
 .form {
     height: 440px;
     background: transparent;
     border-radius: 8px;
     padding: 20px 30px;
     overflow-y: hidden;
     overflow-x: hidden;
     box-sizing: border-box;
     font-family: "Montserrat", sans-serif;
     position: relative;
}
 input {
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     background: none;
     outline: none;
     resize: none;
     border: 0;
     font-family: "Montserrat", sans-serif;
     transition: all 0.3s;
     border-bottom: 2px solid #bebed2;
}
 input:focus {
     border-bottom: 2px solid #78788c;
}
 .pform:before {
     content: attr(type);
     display: block;
     margin: 28px 0 0;
     font-size: 14px;
     color: #5a5a5a;
}
 button {
     float: right;
     padding: 8px 12px;
     margin: 8px 0 0;
     font-family: "Montserrat", sans-serif;
     border: 2px solid #78788c;
     background: 0;
     color: #5a5a6e;
     cursor: pointer;
     transition: all 0.3s;
}
 button:hover {
     background: #78788c;
     color: #fff;
}
 .contactDiv {
     content: "Hi";
     position: absolute;
     bottom: 0px;
     right: -35px;
     background: #50505a;
     color: #fff;
     width: 320px;
     padding: 4px 4px 4px 4px;
     border-radius: 6px;
     font-size: 13px;
}
 span {
     margin: 0 5px 0 15px;
}
 input[type=text], select, textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #45a049;
}
 .contactcontainer {
     border-radius: 5px;
     background-color: transparent;
     padding: 20px;
}
 h1 {
     overflow: hidden;
     text-align: center;
}
 h1:before, h1:after {
     background-color: #000;
     content: "";
     display: inline-block;
     height: 1px;
     position: relative;
     vertical-align: middle;
     width: 50%;
}
 h1:before {
     right: 0.5em;
     margin-left: -50%;
}
 h1:after {
     left: 0.5em;
     margin-right: -50%;
}
/* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
}
 #menu li {
     padding: 10px 0;
     font-size: 22px;
}
/* * And let's slide it in from the left */
 #menuToggle input:checked ~ ul {
     transform: none;
}
 blockquote, q {
     quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
     content: '';
     content: none;
}
 table {
     border-collapse: collapse;
     border-spacing: 0;
}
 body {
     -webkit-text-size-adjust: none;
}
 mark {
     background-color: transparent;
     color: inherit;
}
 input::-moz-focus-inner {
     border: 0;
     padding: 0;
}
 input, select, textarea {
     -moz-appearance: none;
     -webkit-appearance: none;
     -ms-appearance: none;
     appearance: none;
}
/* Basic */
 html {
     box-sizing: border-box;
}
 *, *:before, *:after {
     box-sizing: inherit;
}
 body {
     background-image: url("images/overlay.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
     background-image: url("images/overlay.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
     background-image: url("images/overlay.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
     background-image: url("images/overlay.png"), linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
     background-position: top left, bottom left, center center;
     background-size: auto, 100% 100%, cover;
     background-attachment: fixed;
     background-repeat: repeat, no-repeat, auto;
     position: relative;
     background-color: #150C07;
     line-height: 1.75em;
     overflow-x: hidden;
     overflow-y: auto;
}
 body.is-preload *, body.is-preload *:before, body.is-preload *:after {
     -moz-animation: none !important;
     -webkit-animation: none !important;
     -ms-animation: none !important;
     animation: none !important;
     -moz-transition: none !important;
     -webkit-transition: none !important;
     -ms-transition: none !important;
     transition: none !important;
}
 @media screen and (max-width: 1280px) {
     body {
         background-attachment: fixed;
    }
}
 @media screen and (max-width: 736px) {
     body {
         background-attachment: fixed;
         background-size: auto, 100% 100%, 250% auto;
         background-repeat: repeat, no-repeat, no-repeat;
         background-position: top left, bottom left, 50% 0%;
    }
}
 body, input, select, textarea {
     font-family: 'Source Sans Pro';
     font-weight: 400;
     padding: 0;
     font-size: 13pt;
     color: rgba(255, 255, 255, 0.6);
}
 @media screen and (max-width: 1680px) {
     body, input, select, textarea {
         font-size: 11pt;
    }
}
 @media screen and (max-width: 1280px) {
     body, input, select, textarea {
         font-size: 10pt;
    }
}
 @media screen and (max-width: 980px) {
     body, input, select, textarea {
         font-size: 11pt;
    }
}
 a {
     color: #fff;
     color: rgba(255, 255, 255, 0.85);
     text-decoration: none;
     -moz-transition: color 0.25s ease-in-out;
     -webkit-transition: color 0.25s ease-in-out;
     -ms-transition: color 0.25s ease-in-out;
     transition: color 0.25s ease-in-out;
}
 a:hover {
     color: #d64760;
}
 h1, h2, h3, h4, h5, h6 {
     font-weight: 400;
     color: #fff;
     letter-spacing: -0.05em;
}
 strong, b {
     color: #fff;
     color: rgba(255, 255, 255, 0.85);
     font-weight: 600;
}
/* List */
 ul.icons {
     cursor: default;
     margin: 0 0 0.5em 0;
}
 ul.icons li {
     display: inline-block;
     font-size: 1.5em;
     margin-left: 1em;
}
 ul.icons li span {
     display: none;
}
 ul.icons li a {
     opacity: 0.35;
     color: #fff;
     -moz-transition: opacity 0.25s ease-in-out;
     -webkit-transition: opacity 0.25s ease-in-out;
     -ms-transition: opacity 0.25s ease-in-out;
     transition: opacity 0.25s ease-in-out;
}
 ul.icons li a:hover {
     opacity: 1.0;
}
 ul.icons li:first-child {
     margin-left: 0;
}
 @media screen and (max-width: 736px) {
     ul.icons {
         margin: 0 0 2em 0;
    }
}
/* Icons */
 .icon {
     text-decoration: none;
     position: relative;
     text-decoration: none;
}
 .icon:before {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     display: inline-block;
     font-style: normal;
     font-variant: normal;
     text-rendering: center center;
     line-height: 1;
     text-transform: none !important;
     font-family: 'Font Awesome 5 Free';
     font-weight: 400;
}
 .icon:before {
     line-height: inherit;
}
 .icon > .label {
     display: none;
}
 .icon.solid:before {
     font-weight: 900;
}
 .icon.brands:before {
     font-family: 'Font Awesome 5 Brands';
}
 .columnone {
     float: left;
     width: 50%;
}
 .columntwo {
     float: right;
     width: 50%;
}
/* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
}
 table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
}
 td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
}
 tr:nth-child(even) {
     background-color: #dddddd;
}
/* Wrapper */
 #wrapper {
     min-height: 100vh;
     display: -moz-flex;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     -moz-flex-direction: column;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -moz-justify-content: space-between;
     -webkit-justify-content: space-between;
     -ms-justify-content: space-between;
     justify-content: space-between;
     -moz-align-items: center;
     -webkit-align-items: center;
     -ms-align-items: center;
     align-items: center;
     -moz-transition: -moz-filter 0.5s ease-in-out;
     -webkit-transition: -webkit-filter 0.5s ease-in-out;
     -ms-transition: -ms-filter 0.5s ease-in-out;
     transition: filter 0.5s ease-in-out;
}
 #wrapper:before {
     content: '';
     display: block;
}
 body.is-poptrox-visible #wrapper {
     -moz-filter: blur(0.25em);
     -webkit-filter: blur(0.25em);
     -ms-filter: blur(0.25em);
     filter: blur(0.25em);
}
 @media screen and (max-width: 736px) {
     #wrapper {
         min-height: 0;
    }
}
/* Scroll Zone */
 .scrollZone {
     position: fixed;
     width: 6rem;
     height: 100vh;
     cursor: -moz-grab;
     cursor: -webkit-grab;
     cursor: -ms-grab;
     cursor: grab;
     z-index: 10001;
}
 .scrollZone.left {
     left: 0;
}
 .scrollZone.right {
     right: 0;
}
 @media screen and (max-width: 736px) {
     .scrollZone {
         display: none;
    }
}
/* Main */
 #main {
     -moz-transition: opacity 1s ease-in-out;
     -webkit-transition: opacity 1s ease-in-out;
     -ms-transition: opacity 1s ease-in-out;
     transition: opacity 1s ease-in-out;
     -moz-transition-delay: 0.5s;
     -webkit-transition-delay: 0.5s;
     -ms-transition-delay: 0.5s;
     transition-delay: 0.5s;
     position: relative;
     z-index: 1;
     width: -moz-min-content;
     width: -webkit-min-content;
     width: -ms-min-content;
     width: min-content;
     max-width: 100vw;
     overflow-x: hidden;
     -webkit-overflow-scrolling: touch;
     padding: 5px;
}
 .segmented-control {
     display: table;
     width: 100%;
     margin: 2em 0;
     padding: 0;
}
 .segmented-control__item {
     display: table-cell;
     margin: 0;
     padding: 0;
     list-style-type: none;
}
 .segmented-control__input {
     position: absolute;
     visibility: hidden;
}
 .segmented-control__label {
     display: block;
     margin: 0 -1px -1px 0;
    /* -1px margin removes double-thickness borders between items */
     padding: 1em .25em;
     border: 1px solid #ddd;
     font: 14px/1.5 sans-serif;
     text-align: center;
     cursor: pointer;
}
 .segmented-control__label:hover {
     background: #fafafa;
}
 .segmented-control__input:checked + .segmented-control__label {
     background: #eee;
     color: #333;
}
 #main .items {
     display: -moz-flex;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
}
 #main .itemsContact {
     display: -moz-flex;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
}
 #main .items > :last-child {
     border-right: solid 10px #ffffff;
}
 #main .itemsContact > :last-child {
     border-right: solid 0px transparent;
}
 #main .item {
     -moz-flex-grow: 0;
     -webkit-flex-grow: 0;
     -ms-flex-grow: 0;
     flex-grow: 0;
     -moz-flex-shrink: 0;
     -webkit-flex-shrink: 0;
     -ms-flex-shrink: 0;
     flex-shrink: 0;
     margin: 5px;
     height: 16em;
     box-shadow: 0 0 0 10px #ffffff;
}
 #main .item.span-1 {
     width: 20em;
}
 #main .item.span-2 {
     width: 30em;
}
 #main .item.span-3 {
     width: 40em;
}
 #main .item.span-10 {
     width: 90vw;
     height: calc(75vh - 70px);
     margin-top: 100px;
     background-color: white;
     color: black;
     overflow-y: auto;
}
 #main .item.intro {
     background-color: rgba(0, 0, 0, 0.65);
    ;
     background-image: url("images/overlay.png");
     display: -moz-flex;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     -moz-flex-direction: column;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -moz-justify-content: center;
     -webkit-justify-content: center;
     -ms-justify-content: center;
     justify-content: center;
     padding: 1em 3em;
}
 #main .item.intro h1 {
     font-size: 2em;
     line-height: 1em;
}
 #main .item.intro p {
     font-size: 1.25em;
     line-height: 1.5em;
     margin: 0.5em 0 0 0;
     opacity: 0.65;
}
 #main .item.thumb {
     display: block;
     position: relative;
     background: rgba(255, 255, 255, 0.25);
     cursor: default;
}
 #main .item.thumb h2 {
     position: absolute;
     bottom: 0;
     left: 0;
     background: rgba(18, 21, 29, 0.85);
     width: 100%;
     padding: 1em;
     font-weight: 400;
     line-height: 1em;
     z-index: 2;
}
 #main .item.thumb img {
     display: block;
     z-index: 1;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     -moz-object-fit: cover;
     -webkit-object-fit: cover;
     -ms-object-fit: cover;
     object-fit: cover;
     -moz-object-position: center;
     -webkit-object-position: center;
     -ms-object-position: center;
     object-position: center;
     -moz-transition: opacity 0.75s ease-in-out;
     -webkit-transition: opacity 0.75s ease-in-out;
     -ms-transition: opacity 0.75s ease-in-out;
     transition: opacity 0.75s ease-in-out;
     -moz-transition-delay: 1.25s;
     -webkit-transition-delay: 1.25s;
     -ms-transition-delay: 1.25s;
     transition-delay: 1.25s;
}
 #main .item.thumb.delay-1 img {
     -moz-transition-delay: 1.375s;
     -webkit-transition-delay: 1.375s;
     -ms-transition-delay: 1.375s;
     transition-delay: 1.375s;
}
 #main .item.thumb.delay-2 img {
     -moz-transition-delay: 1.5s;
     -webkit-transition-delay: 1.5s;
     -ms-transition-delay: 1.5s;
     transition-delay: 1.5s;
}
 #main .item.thumb.delay-3 img {
     -moz-transition-delay: 1.625s;
     -webkit-transition-delay: 1.625s;
     -ms-transition-delay: 1.625s;
     transition-delay: 1.625s;
}
 #main .item.thumb.delay-4 img {
     -moz-transition-delay: 1.75s;
     -webkit-transition-delay: 1.75s;
     -ms-transition-delay: 1.75s;
     transition-delay: 1.75s;
}
 #main .item.thumb.delay-5 img {
     -moz-transition-delay: 1.875s;
     -webkit-transition-delay: 1.875s;
     -ms-transition-delay: 1.875s;
     transition-delay: 1.875s;
}
 #main .item.thumb.delay-6 img {
     -moz-transition-delay: 2s;
     -webkit-transition-delay: 2s;
     -ms-transition-delay: 2s;
     transition-delay: 2s;
}
 body.is-preload #main {
     opacity: 0;
}
 body.is-preload #main .item.thumb img {
     opacity: 0;
}
 @media screen and (max-width: 1680px) {
     #main .item {
         height: 14em;
    }
     #main .item.span-1 {
         width: 17em;
    }
     #main .item.span-2 {
         width: 25.5em;
    }
     #main .item.span-3 {
         width: 34em;
    }
}
 @media screen and (max-width: 736px) {
     #main {
         width: 100%;
         overflow-x: hidden;
         overflow-y: auto;
         padding: 2.5px;
    }
     #main .items {
         -moz-flex-wrap: wrap;
         -webkit-flex-wrap: wrap;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         -moz-justify-content: center;
         -webkit-justify-content: center;
         -ms-justify-content: center;
         justify-content: center;
    }
     #main .items > :last-child {
         border-right: 0;
    }
     #main .item {
         -moz-flex-grow: 1;
         -webkit-flex-grow: 1;
         -ms-flex-grow: 1;
         flex-grow: 1;
         -moz-flex-shrink: 1;
         -webkit-flex-shrink: 1;
         -ms-flex-shrink: 1;
         flex-shrink: 1;
         width: calc(50vw - 15px) !important;
         margin: 2.5px;
         box-shadow: 0 0 0 5px #ffffff;
    }
     #main .item.intro {
         width: calc(100vw - 20px) !important;
         text-align: center;
         height: auto;
         padding: 3em;
    }
     #main .item.intro h1 {
         font-size: 2em;
    }
     #main .item.intro p {
         font-size: 1em;
    }
     #main .item.thumb h2 {
         display: none;
    }
}
 @media screen and (max-width: 480px) {
     #main .item {
         height: 10em;
    }
}
/* Header */
 #footer {
     width: 100%;
     padding: 1.5em;
     margin-bottom: 15px;
     display: -moz-flex;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     -moz-justify-content: space-between;
     -webkit-justify-content: space-between;
     -ms-justify-content: space-between;
     justify-content: space-between;
     position: relative;
     z-index: 10002;
}
 #footer > section:first-child {
     text-align: left;
     max-width: 36em;
     padding-right: 2em;
}
 #footer > section:last-child {
     text-align: right;
     max-width: 36em;
}
 #footer h2 {
     font-size: 2.25em;
     margin: 0 0 1em 0;
}
 #footer .copyright li {
     display: inline-block;
     margin-left: 1em;
     padding-left: 1em;
     border-left: solid 1px rgba(255, 255, 255, 0.25);
     line-height: 1em;
}
 #footer .copyright li:first-child {
     border-left: 0;
     margin-left: 0;
     padding-left: 0;
}
 @media screen and (max-width: 980px) {
     #footer {
         -moz-flex-direction: column;
         -webkit-flex-direction: column;
         -ms-flex-direction: column;
         flex-direction: column;
    }
     #footer > section:first-child {
         width: 100%;
         padding-right: 0;
    }
     #footer > section:last-child {
         text-align: left;
         margin: 1.5em 0 0 0;
         width: 100%;
    }
}
 @media screen and (max-width: 736px) {
     #footer {
         text-align: center;
         padding: 3em;
    }
     #footer > section:first-child {
         text-align: center;
         max-width: 100%;
    }
     #footer > section:last-child {
         text-align: center;
         max-width: 100%;
    }
     #footer .copyright li {
         display: block;
         margin: 0.75em 0 0 0;
         padding-left: 0;
         border-left: 0;
    }
     #footer .copyright li:first-child {
         margin-top: 0;
    }
}
/* Popup */
 .poptrox-popup {
     background: #1a1f2c;
     background: rgba(18, 21, 29, 0.9);
     box-shadow: 0px 0px 0px 10px #fff, 0px 10px 60px 10px rgba(8, 11, 19, 0.55);
     cursor: default;
}
 .poptrox-popup .loader {
     display: block;
     width: 48px;
     height: 48px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin: -24px 0 0 -24px;
     background: url("images/loader.gif");
     opacity: 0.25;
}
 .poptrox-popup .caption {
     position: absolute;
     bottom: 0;
     left: 0;
     background: #1a1f2c;
     background: rgba(18, 21, 29, 0.85);
     display: block;
     width: 100%;
     line-height: 75px;
     text-align: center;
     font-size: 1.25em;
     color: #fff;
}
 .poptrox-popup .nav-next, .poptrox-popup .nav-previous {
     text-decoration: none;
     font-weight: normal;
     font-style: normal;
     -moz-transition: opacity 0.25s ease-in-out;
     -webkit-transition: opacity 0.25s ease-in-out;
     -ms-transition: opacity 0.25s ease-in-out;
     transition: opacity 0.25s ease-in-out;
     opacity: 0.35;
}
 .poptrox-popup .nav-next:hover, .poptrox-popup .nav-previous:hover {
     opacity: 1.0;
}
 .poptrox-popup .nav-next, .poptrox-popup .nav-previous {
     text-decoration: none;
     text-transform: none !important;
     width: 150px;
     height: 75px;
     position: absolute;
     bottom: 0;
     cursor: pointer;
     font-size: 3em;
     line-height: 75px;
}
 .poptrox-popup .nav-next:before, .poptrox-popup .nav-previous:before {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     display: inline-block;
     font-style: normal;
     font-variant: normal;
     text-rendering: auto;
     line-height: 1;
     text-transform: none !important;
     font-family: 'Font Awesome 5 Free';
     font-weight: 900;
}
 .poptrox-popup .nav-next {
     right: 0;
     text-align: right;
     padding-right: 30px;
}
 .poptrox-popup .nav-next:before {
     content: '\f105';
}
 .poptrox-popup .nav-previous {
     left: 0;
     text-align: left;
     padding-left: 30px;
}
 .poptrox-popup .nav-previous:before {
     content: '\f104';
}
 @media screen and (max-width: 736px) {
     .poptrox-popup {
         background: #0a0f1c;
         box-shadow: 0px 0px 30px 10px rgba(8, 11, 19, 0.85);
         border: solid 2.5px #fff;
         -moz-box-sizing: content-box;
         -webkit-box-sizing: content-box;
         -ms-box-sizing: content-box;
         box-sizing: content-box;
    }
     .poptrox-popup .caption {
         display: none !important;
    }
     .poptrox-popup .nav-next {
         display: none !important;
    }
     .poptrox-popup .nav-previous {
         display: none !important;
    }
}
